name: ci

on:
    push:
        branches: [main]
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install
              run: pnpm install --frozen-lockfile

            - name: Lint (orders)
              run: pnpm --filter orders lint
              continue-on-error: false

            - name: Lint (payments-worker)
              run: pnpm --filter payments-worker lint
              continue-on-error: false

            - name: Test (orders)
              run: pnpm --filter orders test

            - name: Test (payments-worker)
              run: pnpm --filter payments-worker test

            - name: Build (orders)
              run: pnpm --filter orders build

            - name: Build (payments-worker)
              run: pnpm --filter payments-worker build
